#user_assets_edit
  - if !@user.errors.empty?
    #error_notice
      - @user.errors.full_messages.each do |message|
        %p
          = message
  = form_for(@asset, :url => "/users/#{@user.id}/assets/#{@asset.id}/") do |asset|
    = render :partial => "fields", :locals => {:asset => asset}
    .clearfix
      .input
        = asset.submit "Update", :class => "btn primary"


