#user_assets_declaration
  - if !@user.errors.empty?
    #error_notice
      - @user.errors.full_messages.each do |message|
        %p
          = message
  = form_for(@asset, :url => user_assets_path) do |asset|
    .clearfix
      %label Fund
      .input
        = asset.text_field :fund
    .clearfix
      %label Book Value
      .input
        = asset.text_field :book_value
    .clearfix
      %label Quantity
      .input
        = asset.text_field :quantity_purchased
    .clearfix
      .input
        = asset.submit "Add", :class => "btn primary"


